body {
  overflow: hidden;
}
main {
  position: relative;
  width: 100%;
  margin:0;
  top:0;
  left:0;
}
/* green background blob */
.background-gradient {
  min-height: 100%;
  min-width: 1024px;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
/*middle*/
.the-middle {
  margin: 0px;
  width: auto;
}
/* chicken model */
.chicken{
  position: absolute;
  width: 300px;
  height: 300px;
  max-width: 100vw;
  top: 50%;
  left: 50%;
  z-index: 10;
  filter:grayscale(100%);
}
/* lol this isnt working figure it out later */
.chicken:hover {
  cursor: pointer;
  mix-blend-mode: hue;
  filter: brightness(120%) saturate(140%) /*drop-shadow(pink, 0px, 0px, 30px)*/; 
}
/* fish model */
.fish {
  /* all:initial; */
  position: absolute;
  top: 70%;
  left: 20%;
  width: 300px;
  height: 300px;
  z-index: 10;
  filter: grayscale(100%) contrast(150%);
}
.fish:hover {
  cursor: pointer;
  filter: grayscale(0%) saturate(140%) /*drop-shadow(rgb(255, 255, 255), 0px, 0px, 20px)*/; 
}
model-viewer {
  --progress-bar-color: transparent;
}
/* grain */
svg{
  pointer-events: none;
  position: absolute;
  z-index: 1000;
  top:-10%;
  left:-10%;
  mix-blend-mode: soft-light;
  /* opacity: 20%; */
  /* width: 100%;
  height: 1000px; */
  filter: contrast(500%);
}
  