@font-face {
  font-family: 'Wavehaus';
  src: url("/Wavehaus-95SemiBold.otf");
}
.about {
    position: relative;
    width: 18%;
    height: auto;
    left: 0.75vw;
    bottom: 0.75vh;
    height: auto;
    z-index: 2;
    font-family: Wavehaus;
  }
  .about:hover {
    filter: drop-shadow(0 0 15px #ffffff) saturate(40);
    transform: rotate(2deg);
  }
  .container {
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100vw;
  }
  .bro-please{
    transform: translate(100px, 100px);
    transform-origin: center bottom;
  }
