
.roulette {
  /* margin-top: 100px; */
  width: fit-content;
  /* display: inline-block;
  position: relative; */
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

.typewriter {
  text-align: center;
  filter: blur(0.2px);
  z-index: 3;
  color: #FFAB10;
  font-size: 30px;
  animation-name: typing;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.1em solid black;
  white-space: nowrap; /* Keeps the content on a single line */
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
  &:hover {
    background-color: rgb(0, 51, 255);
    color: rgb(0, 0, 0);
  }
}
/* ??? */
/* .position {
  display: flex;
  flex-direction: column;
  position: absolute;
} */
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}
