---
import { GrainGradient } from "@paper-design/shaders-react";
import "../styles/index.css";
import Chicken from "../components/chicken.astro";
import Fish from "../components/fish.astro";
import Gradient from "../components/gradient.astro";
import MouseTooltip from "../function/mouseTooltip";
import Centre from "../components/centre.astro";
---
<main>
<Gradient/>
<MouseTooltip client:load content="about">
  <Fish />
</MouseTooltip>
<Chicken/>
<Centre/>
<div class="background-gradient">
    <GrainGradient
      client:load
      width={2000}
      height={900}
      colors={["#FFB833", "#D65108", "#861D26"]}
      colorBack="#F5E8E0"
      softness={1}
      intensity={0.5}
      noise={0.25}
      shape="blob"
      speed={0.6}
      scale={2.24}
      offsetX={0.06}
      offsetY={-0.38}
    />
  </div>
</main>
